modules = ["python-3.12", "dotnet-7.0", "dotnet-8.0", "bun-1.2", "bun-1.0", "c-clang14"]

[nix]
channel = "stable-24_05"
packages = ["libGL", "libGLU"]

[workflows]
runButton = "Run Sports Analyzer"

[[workflows.workflow]]
name = "Run Basketball Analyzer"
author = 14246877
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python ball.py"

[[workflows.workflow]]
name = "Run Sports Analyzer"
author = 14246877
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
